/* General styling */
main {
  padding-top: 80px;
}

/* Hamburger and nav menu styling */
.hamburger {
  position: fixed;
  right: 4%;
  top: 38px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
  z-index: 10000;
  transition: top 0.3s;
}

.line {
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #eeeeee;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-buttons-mobile {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(40vw);
  top: 0;
  gap: 30px;
  height: 100vh;
  width: 60vw;
  backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 9999;
  padding: 10% 5%;
  transition: transform 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.nav-buttons-mobile .nav-btn {
  width: 100%;
  text-align: center;
}

.hidden-nav {
  transform: translateX(100vw);
}

.close-1 {
  transform: rotate(45deg) translateY(10px);
}

.close-2 {
  opacity: 0;
  transform: translateX(-35px);
}

.close-3 {
  transform: rotate(-45deg) translateY(-10px);
}

/* Responsive design for 990px and below */
@media screen and (max-width: 990px) {
  .hamburger {
    display: flex;
  }

  .nav-buttons-mobile {
    display: flex;
  }
}

@media (max-width: 600px) {
  .nav-buttons-mobile {
    width: 80vw;
    transform: translateX(20vw);
  }

  .hidden-nav {
    transform: translateX(100vw);
  }
}

@media (max-width: 400px) {
  .nav-buttons-mobile {
    width: 100vw;
    transform: translateX(0);
  }

  .hidden-nav {
    transform: translateX(100vw);
  }
}


.nav-btn {
  font-size: 1.2rem;
  color: #eeeeee;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  position: relative; /* Needed for positioning the underline */
  transition: color 0.3s;
}

.nav-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px; /* Adjust this value to move the underline closer or farther from the text */
  width: 0;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: yellow; /* Color of the underline */
  transition: width 0.3s, left 0.3s;
}

.nav-btn:hover {
  color: #ffffff; /* Change text color on hover */
}

.nav-btn:hover::after {
  width: 100%; /* Full width underline */
  left: 0; /* Reset the left position to 0 */
}

html {
  scroll-behavior: smooth;
}
